@font-face {
   font-family: 'Bismillah' ;
   src: url('../fonts/Bismillahscript-4ByyY.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* general */
.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}
/* general END */

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.4s;
  padding: 16px 0px;
}

header.sticky {
  background-color: #242e5a;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hambuger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #C1B086;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h2 {
  font-size: 18px;
  color: #fff;
}

.logo-img {
  width: 30px;
  height: auto;
  margin-right: 8px;
}
/* header END */

/* hero section */
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in 0.4s;
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 15% 0 0 10%;
}

.home h2 {
  font-size: 80px;
  font-weight: 400;
}

.home h4 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  margin-bottom: 24px;
}

.home h1 {
  font-family: 'Bismillah', sans-serif;
  font-size: 120px;
  letter-spacing: 12px;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 17px;
  margin: 50px 0 0 50px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #C1B086;
  border-color: #C1B086;
  color: #fff;
}

.home button {
  margin-left: 50px;
}

.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

.home .box .text {
  position: relative;
}

.home .box .text::after {
  position: absolute;
  content: 'H';
  font-size: 500px;
  top: -120%;
  font-weight: bold;
  opacity: 0.1;
}
/* hero section END */

/* booking */
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.book {
  margin-top: 5%;
  width: 100%;
  height: 20vh;
  color: #fff;
}

.book .input {
  background: #242e5a;
  padding: 20px 20px 40px 20px;
}

.book .search {
  background: #3f9cc1;
  padding: 20px;
  transition: 0.5s;
}

.book .search:hover {
  background: #C1B086;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 20px;
  color: #fff;
}

::placeholder {
  color: #fff;
}

.book .search {
  width: 20%;
}

.book .search input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 35px;
  cursor: pointer;
}
/* booking END */

/* about */
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.left, .right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
  padding-top: 70px;
}

.about .img {
  position: relative;
}

.about .image1 {
  width: 310px;
  height: 450px;
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #C1B086;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin: 50px 0 20px 50px;
}

.btn1 {
  background: #C1B086;
  color: #fff;
}
/* about END */

/* amenities */
.wrapper {
  background-image: url("../img/ami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper .text {
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: #fff;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}
/* amenities END */

/* rooms */
.padding-up {
  padding-top: 70px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 100%;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}

.room h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.room p span {
  font-size: 12px;
  color: grey;
}

.room p {
  font-size: 20px;
}
/* rooms END */

/* testimonials */
.wrapper2 {
  background-image: url("../img/w1.jpg");
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

.wrapper2 .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.guest-profile {
  display: flex;
}
/* testimonials END */

/* restaurant */
.restaurant img {
  width: 100%;
  height: 100%;
}

.restaurant .right {
  padding: 50px 50px 50px 100px;
}

.restaurant h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.restaurant h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.restaurant h3 {
  font-size: 30px;
    font-weight: 400;
    margin: 20px 0 40px 0;
    color: #222222;
}

.restaurant .text {
  position: relative;
}

.restaurant .text::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #C1B086;
}

.restaurant .text p {
  margin-bottom: 50px;
  line-height: 25px;
}

.accordionItem {
  margin-top: 30px;
}

.accordionItem p {
  font-size: 15px;
  opacity: 0.8;
  font-family: sans-serif;
  line-height: 20px;
}

.accordionIHeading {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  color: #C1B086;
  margin-bottom: 20px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: #fff;
}

.open .accordionItemContent {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}
/* restaurant END */

/* gallery */
.gallary img {
  width: 270px;
  height: 350px;
}

.gallery-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-box {
  width: 450px;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
  cursor: pointer;
}

.gallery-box:hover {
  box-shadow: 0 13px 43px rgba(0,0,0,0.4);
}

.gallery-box-1 {
  background-image: url("../img/g1.jpg");
}

.gallery-box-2 {
  background-image: url("../img/g2.jpg");
}

.gallery-box-3 {
  background-image: url("../img/g3.jpg");
}

.gallery-box-4 {
  background-image: url("../img/g4.jpg");
}

.gallery-box-5 {
  background-image: url("../img/g5.jpg");
}

.gallery-box-6 {
  background-image: url("../img/g6.jpg");
}

.gallery-box-7 {
  background-image: url("../img/g7.jpg");
}

.gallery-box-8 {
  background-image: url("../img/g8.jpg");
}

.gallery-box-9 {
  background-image: url("../img/r3.jpg");
}
/* gallery END */

/* contact */
.contact-text {
  background: #3f9cc1;
  padding: 25px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  color: #fff;
}

.contact-logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.contact-logo-img {
  width: 120px;
  height: auto;
  margin-right: 12px;
}

.contact-logo h2 {
  color: #fff;
  font-family: 'Bismillah', sans-serif;
  font-size: 120px;
  letter-spacing: 12px;
}

.contact-form-container textarea {
  height: 160px;
  width: 100%;
  resize: none;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  color: #fff;
}

.contact-wrapper {
  background-image: url("../img/santorini.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.input-container-2 {
  width: 100%;
  text-align: center;
}

.contact-form-container input[type='submit'] {
  padding: 20px 40px;
  background: #C1B086;
  outline: none;
  border: 2px solid #C1B086;
  border-radius: 50px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 18px;
  max-width: 200px;
}

.contact-form-container input[type='submit']:hover {
  border: 2px solid #fff;
  background: none;
}
/* contact END */

/* footer */
footer h3 {
  margin-bottom: 20px;
}

footer li a {
  color: #000;
  transition: 0.4s;
}

footer li {
  margin-bottom: 15px;
  transition: 0.5s;
}

footer li:hover a {
  color: #C1B086;
  cursor: pointer;
}

.certificate-box {
  width: 100px;
  margin: 0 auto;
}

.padding-down {
  padding-bottom: 30px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
/* footer END */

/* media queries */
@media only screen and (max-width:1300px){

  .contact-logo h2 {
    font-size: 80px;
  }

  .contact-logo-img {
    width: 80px;
  }
}

@media only screen and (max-width:1200px){

  .home .text {
    max-width: 50%;
    color: white;
    margin: 20% 0 0 10%;
  }

  .home .image_item {
    right: 10%;
  }
}

@media only screen and (max-width:1100px) {
  .wrapper .text {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 991.98px) {
  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hambuger {
    display: block;
    cursor: pointer;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .home h2 {
    font-size: 60px;
    font-weight: 400;
  }

  .home h4 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 12px;
    margin-bottom: 24px;
  }

  .home h1 {
    font-size: 80px;
    letter-spacing: 12px;
  }

  .wrapper .text {
    width: 80%;
  }

  .gallery-box {
    width: 300px;
    height: 300px;
  }

  .contact-logo h2 {
    font-size: 60px;
  }

  .contact-logo-img {
    width: 60px;
  }
}

@media only screen and (max-width:776px){
  .contact-logo {
    display: none;
  }
}

@media only screen and (max-width:768px) {
  .home .box .text {
    max-width: 100%;
    margin-top: 20%;
  }

  .home .box .text::after,
  .home .image_item {
    display: none;
  }

  .restaurant .container,
  .about .container,
  .book .container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    margin-top: 10%;
    height: auto;
  }

  .book .search {
    width: 100%;
  }

  .book .search input {
    margin-top: 0;
  }

  .left, .right {
    width: 100%;
  }

  .wrapper .text {
    width: 80%;
  }

  .room {
    margin-bottom: 100px;
  }

  .room .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .restaurant .right {
    padding: 0;
    margin-top: 50px;
  }

  footer .payment {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width:768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .text {
    margin: 10% 0 0 0;
  }

  .home h1 {
    font-size: 60px;
  }

  .about p {
    margin: 50px 0 0 0;
  }

  .home p {
    margin: 20px 0 0 0;
  }

  .wrapper .text {
    padding: 24px;
    height: 600px;
  }

  .padding-up {
    padding-top: 50px;
  }

  .heading_top {
    margin-top: 30px;
  }

  .heading_top {
    margin-top: 100px;
  }

  .heading_top button {
    display: none;
  }

  .restaurant .flex {
    flex-direction: column-reverse;
  }

  .contact-text {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .home h2 {
    font-size: 30px;
  }

  .home .box .text {
    max-width: 80%;
    padding-left: 30px;
    margin-top: 30%;
  }

  .about .heading {
    padding-bottom: 30px;
  }

  .wrapper2 .box {
    flex-direction: column;
  }

  .wrapper2 .guest-profile {
    margin-bottom: 12px;
  }

  .wrapper .text {
    height: 650px;
  }

  .contact .heading {
    margin-bottom: 100px;
  }

  .contact-text {
    width: 90%;
    right: 50%;
    transform: translateX(50%);
  }

  .footer-row {
    flex-direction: column;
  }

  footer {
    padding-top: 30px;
  }
}

@media (max-width:370px){
  .about .image1 {
    width: 280px;
  }

  .wrapper .text {
    width: 100%;
    right: 0;
  }
}
